mixin center 
  .center__area 
    .center.wcont 
      .center__left.leftSide 
        +catMenu
      .center__main.mainSide
        +mainSlider
        


mixin catMenu
  ul.catMenu 
    li
      a(href="") Все категории
    li
      a(href="") Наручные
    li
      a(href="") Интерьерные
    li
      a(href="") Аксессуары



