mixin header 
  .topLine__area
    .topLine.wcont
      .topLine__item 
        i.fa.fa-map-marker
        span Саратов
      .topLine__item 
        i.fa.fa-clock-o
        span ежедневно с 9:00 до 18:00
      .topLine__item.topLine__item_mla 
        i.fa.fa-phone
        a(href="mailto:888888888") 8-800-333-33-33
      .topLine__item 
        i.fa.fa-envelope-o
        a(href="mailto:info@unishop64.ru") info@unishop64.ru
  .header__area 
    header.header.wcont
      .logo1 
        a(href="#")
          img(src="assets/img/logo1.svg", alt="") 

      .slogan 
        span Подари близким свое время

      a.header__btn.header__btn_mla(href="#") 
        i.fa.fa-search
        span Поиск
      a.header__btn(href="#") 
        i.fa.fa-list-alt
        span Мои заказы
      a.header__btn(href="#") 
        i.fa.fa-shopping-cart
        span Корзина
  
  .topMenuLine__area 
    .topMenuLine.wcont 
      .topMenuLine__left.leftSide
        .catBtn 
          i.fa.fa-bars
          span Каталог
      .topMenuLine__right.mainSide
        ul.topMenu
          li
            a.active(href="") Главная
          //- li
          //-   a(href="") Услуги
          //-   ul
          //-     li
          //-       a(href="") Разработка ПО
          //-     li
          //-       a(href="") Внедрение ПО
          //-     li
          //-       a(href="") Обучение сотрудников
          li
            a(href="") Доставка
          li
            a(href="") О нас
          li
            a(href="") Контакты




