- var pageTitle = 'UniShop2023'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __center
include __sliders
include __forms
include __footer





<!DOCTYPE html>
html(lang="ru-RU")
  +head
body
  .site__header
    +header

  .site__center
    +center

    //- +myMap

  .site__footer
    +footer
    

  +scripts
  
